@import url(fonts.css);
@import url(./partials/_variables.css);
@import url(./partials/_global.css);

/*  @TODO: 

    1.Fix the logo 
        - Same gradient style as the rest
        - Fix it in a solid location, in responsive design it's all over the place
    2. Fix the spacing on the main screen
        - Things need to be more centered
        - Bitmoji is not lined up well 
        - Still too empty, fill up the place better
          Especially the bitmoji is just so lonely....
    
 */

/* START NAVIGATION  */
.logo{
    border: 2px solid; 
    border-radius: 6%;
    border-color: var(--primary-color);
    margin-left: 10%;
    
    letter-spacing: -0.3em;

    padding: 0.2em 0.3em;
    padding-right: 0.6em;
    /* Render problem with letter spacing */
    /* Reduces spacing mismatches offset of padding */
    
    transition: transform 0.35s ease-out; 
}
.logo:hover{
    transition-timing-function: ease-in-out;
    transition-property: all;
    transform: scale(1.2,1.2);
    border-radius:16%;
    box-shadow: 0 0 5px 5px var(--primary-color);
}

.header_area .main-menu .navbar{
    margin-left: 5rem;  
}
.header_area.main-menu.navbar{
    padding: 1rem 20rem; 
}
.header_area .main-menu .nav-item .nav-link{ 
    font: normal 400 15px/2px var(--main-font);
    text-transform: uppercase;
    padding: 1.7rem;
}

.header_area .main-menu .navbar-nav .active a{
    color: var(--primary-color);

    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.header_area .main-menu .navbar-nav a:hover{
    color: var(--primary-color);

    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    
    font-weight: 400;
    border-bottom: 1px solid;   
    
}
/* END NAVIGATION  */

/* BANNER AREA */
.site-main .site-banner {
    background: url(../images/backgrounds/abstract-technology-background-with-circuit-board-style-structur-vector.jpg) no-repeat 22% 82%;
}

   .site-main .site-banner .site-title h3{
       padding-top: 35%;
       font-weight: 500;
   }
   .site-main .site-banner .site-title h3::after{
       content: " ";
       height: 2px;
       width: 18vw; 
       background: black;
       display: inline-block;
       margin-left: 5%;
       transform: translateY(-10px);
   }

   .site-main .site-banner .site-title h1{
       font-size: 5rem; 
       font-stretch: wider;
       line-height: 1em;

   }
   .site-main .site-banner .site-title h4{
    font-size: 1.5rem;
   }
   .site-main .site-banner .banner-image > img{
    margin-top: 30%;
    border-bottom: 20px;;
    padding: 7rem 0;
    width: 90rem;
   }
/* END BANNER AREA */