@import url(fonts.css);

:root{
    --dark: rgb(45, 45, 45);
    --light: rgb(255,255,255);
}

body{
    background-color: var(--dark);
    color: var(--light);   
}
.welcome-image{
    position:absolute; 
    float: left;
    height: 80vh;
    border-radius: 2%;
}
.welcome-text{
    position:relative;
    font-size:xx-large;
    background-color: var(--dark);
    color:var(--light);
    top: 70vh;
    left: 30%;
}