/* GLOBAL CLASSES */

@import url(_variables.css);

.title-text{
   font:normal bold 50px/72px var(--main-font); 
}

.text-uppercase{
   text-transform: uppercase;
}

/* BUTTONS  */
.button{
   padding: .8rem 2.2rem; 
   font: normal 500 16px/20px var(--main-font);
   position: relative;
   border: 3px solid transparent;
   border-radius: 4px;
}

.button .button.primary-button.a{
   text-decoration: none;
}

.button.primary-button{ 
   background: var(--gradient-color);
   background-clip: padding-box;
   color: whitesmoke;
   transition: background .6s ease;
   box-shadow: var(--box-shadow);
}

.button.primary-button:hover{
   background: var(--light);
   background-clip: padding-box;
   color: var(--dark);
}

.button.primary-button::after, 
.button.secondary-button::after{
   position: absolute;
   top: -2px; left: -2px;
   bottom: -2px;  right: -2px;
   background: var(--gradient-color);
   content: ' ';
   z-index: -1;
   border-radius: 4px;
}


.button.secondary-button{
   background: white;
   background-clip: padding-box;
   transition: background .6s ease;
}

.button.secondary-button:hover{
   background: var(--gradient-color);
   color: whitesmoke;
   box-shadow: var(--box-shadow);
}

p.para{
   color: var(--text-color);
   font: normal 500 16px/25px 
   var(--main-font);
}
p.para span{
   padding-right: 0.5rem;
}
p.para a{
   color: var(--text-color);
}

.card{
   background-color: var(--light);
   border-radius: 1rem;
   padding: 1rem;
   margin-left: var(--card-distance);
   box-shadow: var(--box-shadow);
   transition: 0.2s;

   font: normal 500 16px/25px 
   var(--main-font);    
   width: 15rem;
   height:auto;
   text-align: center;
}
   .card a{
       text-decoration: none;
       color: var(--dark); 
   }
   card:not(first-child){
       margin-left: var(--card-distance);
   }

   .card:hover,
   .card:focus-within
   {
       transition: 0.2s;
       transform: translateY(-2.5rem);
   }

   .card:hover ~.card,
   .card:focus-within .card{
       transform: translateX(
           calc(var(--card-distance) * -1));
   }

   .card span{
       color: var(--dark);
   }

   
.whitespace-sm{
   margin: 3%;
}

.whitespace-md{
   margin: 5%;
}

.whitespace-lg{
   margin: 10%;
}